@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NonoGram</h1>
    <p><a class="btn btn-primary btn-lg" href="/Nono" role="button">Play game!</a></p>
</div>
